/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0078d4; /* Blue background */
    text-align: center;
    padding: 20px;
    color: #fff; /* White text */
}

nav ul {
    list-style-type: none;
    background-color: #0078d4; /* Blue background */
    text-align: center;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text */
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffd700; /* Different color on hover */
}

.main-content {
    text-align: left;
    padding: 40px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0078d4; /* Blue color */
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d4; /* Blue background */
    color: #fff; /* White text */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.read-more:hover {
    background-color: #ff6347; /* Different color on hover */
}

footer {
    background-color: #0078d4; /* Blue background */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
}

/* Additional CSS for Instagram link */
.instagram-link {
    text-decoration: none; /* Remove underlines only from the Instagram link */
}
